<% if @images %>
	<div class="row">
		<div class="card">
			<div class="">Place Images</div>
		</div>
	</div>
	<div class="row">
		<% @images.each do |image| %>
			<div class="col-md-3">
				<div class="card-body">
					<%= image_tag(image.photo_url(:thumb).to_s) %>
				  <%= link_to 'delete', image_path(image.id), method: :delete, data: {confirm: "Are you sure?"} %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>