<% if @images %>
	<div class="row">
		<%= @images.each do |image| %>
			<div class="col-md-3">
				<%= image.id %>
				<%= image_tag(image.photo_url(:thumb).to_s) %>	
			</div>
		<% end %>
	</div>
<% end %>